<img src="https://www.consalud.es/uploads/s1/12/64/18/2/centro-penitenciario-foto-unsplash.jpeg"class="d-block w-100"  style=" opacity:0.9; box-shadow: 10px 5px 5px gray;">
<div class="carousel-caption d-none d-md-block" style="margin-bottom: 150px">
  <h5 style="color: #ff5b5b; font-weight: bold; font-size: 50px;">SISTEMA PENITENCIARIO</h5>
  <p style="color: black; font-weight: bold; font-size: 30px;">En el año 2021 el Ecuador sufrio uno de los problemas mas grandes respecto a la seguridad del pais.</p>
</div>
<div>
  <p style="color: black; font-weight: bold; font-size:25px"> EL sistema penitenciario tiene como funcioanlidad la gestion y permanecer con la seguridad de la penitenciaria que esta a cargo </p>
</div>