<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
<img src="https://www.consalud.es/uploads/s1/12/64/18/2/centro-penitenciario-foto-unsplash.jpeg"class="d-block w-100"  style=" opacity:0.7; box-shadow: 10px 5px 5px gray;">
<div class="carousel-caption d-none d-md-block" style="margin-bottom: 150px">
  <img src='https://seeklogo.com/images/P/policia-nacional-del-ecuador-logo-3A3E894039-seeklogo.com.png'  />
</div>
<div>
  <section class="features-icons bg-light text-center" style="margin-top:70px">
    <div class="container">
        <div class="row" style="margin-bottom: 150px;">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi bi-display m-auto"  style="font-size: 75px"></i></div>
                    <h3> Control sobre la prision </h3>
                    <p class="lead mb-0">Controla los pabellones, asigna guardias y protege a los reos!.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi bi-shield-lock m-auto" style="font-size: 75px"></i></div>
                    <h3> Protege a los reos </h3>
                    <p class="lead mb-0">Separa a los reos por pabellones y asigna los guardias a cada pabellon.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi bi-clipboard m-auto" style="font-size: 75px"></i></div>
                    <h3> Analiza los reportes </h3>
                    <p class="lead mb-0">Revisa los reportes de los guardias y controla los movimientos!</p>
                </div>
            </div>
        </div>
    </div>
    </section> 
    
</div>
<div class="container" style="background-color:#ececec ;">
    <footer class="py-5">
      <div class="row">
        <div class="col-4">
          <h5>Desarolladores</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Christopher Vera </a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Kevin Veliz </a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Lizbeth Garcia</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Jhoana Aucancela</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Erick Andrade</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Alejandro Armas</a></li>
          </ul>
        </div>
  
        <div class="col-4">
          <h5>Contacto</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">christopher.vera@epn.edu.ec</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-4">
          <h5>Github</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">https://github.com/Chriss78Vera</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        
      </div>